1) Demonstrate how to import Pandas and check the version of the installation.

In [1]:
import pandas as pd
pd.__version__

'1.5.2'

In [5]:
pd.show_versions()

c:\Users\chamu\python-practice\my_environment\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 8dab54d6573f7186ff0c3b6364d5e4dd635ff3e7
python           : 3.11.0.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22621
machine          : AMD64
processor        : Intel64 Family 6 Model 126 Stepping 5, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.5.2
numpy            : 1.24.1
pytz             : 2022.7.1
dateutil         : 2.8.2
setuptools       : 65.5.0
pip              : 22.3
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : None
IPython          : 8.8.0
pandas_datareader: None
bs4              : None
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.6.3
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : None
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

In [11]:
pd.show_versions(as_json=True)

{
  "system": {
    "commit": "8dab54d6573f7186ff0c3b6364d5e4dd635ff3e7",
    "python": "3.11.0.final.0",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "10",
    "Version": "10.0.22621",
    "machine": "AMD64",
    "processor": "Intel64 Family 6 Model 126 Stepping 5, GenuineIntel",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": "English_United States",
      "encoding": "1252"
    }
  },
  "dependencies": {
    "pandas": "1.5.2",
    "numpy": "1.24.1",
    "pytz": "2022.7.1",
    "dateutil": "2.8.2",
    "setuptools": "65.5.0",
    "pip": "22.3",
    "Cython": null,
    "pytest": null,
    "hypothesis": null,
    "sphinx": null,
    "blosc": null,
    "feather": null,
    "xlsxwriter": null,
    "lxml.etree": null,
    "html5lib": null,
    "pymysql": null,
    "psycopg2": null,
    "jinja2": null,
    "IPython": "8.8.0",
    "pandas_datareader": null,
    "bs4": null,
    "bottleneck": null,
    "brotli": null,
    "fastparquet": null,
    "fsspec": null,
    "gcsfs": null,
    "matplotlib": "3.6.3",
    "numba": null,
    "numexpr": null,
    "odfpy": null,
    "openpyxl": null,
    "pandas_gbq": null,
    "pyarrow": null,
    "pyreadstat": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": null,
    "snappy": null,
    "sqlalchemy": null,
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "xlwt": null,
    "zstandard": null,
    "tzdata": null
  }
}

2) Transform this list, numpy array, and dictionary into a series.

In [2]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
series_list=pd.Series(mylist,name='my_list')
print(type(series_list))
print(series_list.head())
myarr = np.arange(26)
series_array=pd.Series(myarr,name='myarr')
print(type(series_array))
print(series_array.head())
mydict = dict(zip(mylist, myarr))
series_dict=pd.Series(mydict,name="mydict")
print(type(series_dict))
print(series_dict.head())

<class 'pandas.core.series.Series'>
0    a
1    b
2    c
3    e
4    d
Name: my_list, dtype: object
<class 'pandas.core.series.Series'>
0    0
1    1
2    2
3    3
4    4
Name: myarr, dtype: int32
<class 'pandas.core.series.Series'>
a    0
b    1
c    2
e    3
d    4
Name: mydict, dtype: int32

3) Convert the index of your previous series into a column of the dataframe.

In [3]:
df=series_dict.to_frame().reset_index()
print(df.head())

  index  mydict
0     a       0
1     b       1
2     c       2
3     e       3
4     d       4

4) Combine the series below into one dataframe.

In [4]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df=pd.concat([ser1,ser2],axis=1)
print(df.head())

df=pd.DataFrame({'Letters' : ser1, 'Numbers':ser2})
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

  Letters  Numbers
0       a        0
1       b        1
2       c        2
3       e        3
4       d        4

5) Give the series below a name.

In [5]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name='My_List'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: My_List, dtype: object

6) Find the elements in the first series (ser1) not in the second series (ser2).

In [6]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

7) Find the elements in both series that are not in common (remove them if they exist in both).

In [7]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

set_u=pd.Series(np.union1d(ser1,ser2)) #union
set_i=pd.Series(np.intersect1d(ser1,ser2)) #intersection

set_u[~set_u.isin(set_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8) Find the minimum, max, 25th percentile, and 75th percentile in the series.

In [53]:
ser = pd.Series(np.random.normal(10, 5, 25))
print("Minimum:", ser.min())
print("Maximum:", ser.max())
print("25th Percentile:", ser.quantile(0.25))
print("75th Percentile:", ser.quantile(0.75))

Minimum: 0.44928746454486834
Maximum: 21.088214585529457
25th Percentile: 5.589429439808722
75th Percentile: 13.108334465903383

9) Obtain the count of each unique item in the series.

In [62]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

d    8
e    5
c    5
b    3
g    3
h    2
a    2
f    2
dtype: int64

10) Keep the two most frequent items in the series and change all items that are not those two into "Other".

In [20]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Most frequent items:")
print(ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])]='Other'
ser

Most frequent items:
1    6
3    2
4    2
2    2
dtype: int64

0         1
1         1
2         1
3         3
4     Other
5     Other
6         1
7         1
8         1
9         3
10    Other
11    Other
dtype: object

11) Bin the series below into 10 equal deciles and replace the values with the bin name.

In [23]:
ser = pd.Series(np.random.random(20))
pd.qcut(ser,q=[0,.10,.20,.3,.4,.5,.6,.7,.8,.9,1],
            labels=['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th']).head()

0     5th
1     3rd
2     6th
3     9th
4    10th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

12) Reshape the series ser into a dataframe with 7 rows and 5 columns.

In [11]:
ser = pd.Series(np.random.randint(1, 10, 35))
df=pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  7  8  2  1  9
1  4  5  7  1  3
2  3  1  7  6  7
3  4  4  3  5  1
4  9  1  8  8  2
5  9  4  3  5  7
6  8  5  1  9  2

13) Find the positions of numbers that are multiples of 3 from ser.

In [22]:
ser = pd.Series(np.random.randint(1, 10, 7))

print(ser)
# np.argwhere(ser % 3==0)

0    8
1    9
2    1
3    7
4    3
5    2
6    8
dtype: int32

14) From ser, extract the items at positions in list pos.

In [23]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

15) Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [24]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

C:\Users\chamu\AppData\Local\Temp\ipykernel_12676\2949033645.py:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser1.append(ser2)

16) Get the positions of items of ser2 in ser1 as a list.

In [27]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# [np.where(i == ser1)[0].tolist()[0] for i in ser2]

#Other Way using pandas

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

17) Compute the mean squared error of truth and pred series.

In [33]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth-pred)**2)

0.3717714177017205

18) Change the first character of each word to upper case in each word of ser.

In [36]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Ans1:
ser.map(lambda x: x.title())

#Ans2:
ser.map(lambda x: x[0].upper()+x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

19) Caluculate the number of characters for each element in the series.

In [37]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

20) Caluculate the difference of differences between the consequtive numbers of ser.

In [40]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

21) Convert the date-strings to a timeseries.

In [41]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22) Get the day of month, week number, day of year and day of week from ser.

In [46]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.day_of_week.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  [4, 2, 5, 3, 0, 5]

C:\Users\chamu\AppData\Local\Temp\ipykernel_12676\3181641852.py:10: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print("Week number: ", ser_ts.dt.weekofyear.tolist())

23) Change ser to dates that start with 4th of the respective months.

In [49]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

# Solution 1
print(ser.map(lambda x: parse('04 ' + x)))

# Solution 2
from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

['2010-01-04', '2011-02-04', '2012-03-04']

24) From ser, extract words that contain at least 2 vowels.

In [50]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

25) Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [56]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

# Ans 1:
import re
print(emails.str.findall(pattern, flags=re.IGNORECASE))

print("*************************************************")

# Ans 2:

mask=emails.map(lambda x: bool(re.match(pattern,x)))
emails[mask]

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object
*************************************************

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

26) Compute the mean of weights of each fruit.

In [57]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

weights.groupby(fruit).mean()
#examples
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'banana', 'carrot', 'banana', 'carrot', 'banana', 'apple', 'apple', 'banana', 'carrot']

apple     7.50
banana    5.25
carrot    4.75
dtype: float64

27) Compute the euclidean distance between series (points) p and q, without using a packaged formula.

In [59]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# Solution 
print(sum((p - q)**2)**.5)

# Solution (using func)
print(np.linalg.norm(p-q))

18.16590212458495
18.16590212458495

28) Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

In [60]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7], dtype=int64)

29) Replace the spaces in my_str with the least frequent character.

In [61]:
my_str = 'dbc deb abed gade'
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
b    3
     3
e    3
a    2
c    1
g    1
dtype: int64

'dbcgdebgabedggade'

30) Create a timeseries starting at ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values.

In [62]:
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    5
2000-01-08    3
2000-01-15    5
2000-01-22    9
2000-01-29    8
2000-02-05    4
2000-02-12    1
2000-02-19    7
2000-02-26    9
2000-03-04    7
Freq: W-SAT, dtype: int32

31) Series ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [64]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

ser.resample('D').ffill()  # fill with previous value

#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

32) Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

In [65]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.22, 0.24, 0.61, 0.25, 0.36, 0.43, 0.18, -0.03, 0.44, 0.23]
Lag having highest correlation:  3

33) Import every 50th row of BostonHousing dataset as a dataframe.
    https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

In [67]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()
print(df2)

         crim    zn  indus  chas    nox     rm    age     dis   rad    tax  \
0     0.00632  18.0   2.31   0.0  0.538  6.575   65.2  4.0900   1.0  296.0
50    0.08873  21.0   5.64   0.0  0.439  5.963   45.7  6.8147   4.0  243.0
100   0.14866   0.0   8.56   0.0  0.520  6.727   79.9  2.7778   5.0  384.0
150   1.65660   0.0  19.58   0.0  0.871  6.122   97.3  1.6180   5.0  403.0
200   0.01778  95.0   1.47   0.0  0.403  7.135   13.9  7.6534   3.0  402.0
250   0.14030  22.0   5.86   0.0  0.431  6.487   13.0  7.3967   7.0  330.0
300   0.04417  70.0   2.24   0.0  0.400  6.871   47.4  7.8278   5.0  358.0
350   0.06211  40.0   1.25   0.0  0.429  6.490   44.4  8.7921   1.0  335.0
400  25.04610   0.0  18.10   0.0  0.693  5.987  100.0  1.5888  24.0  666.0
450   6.71772   0.0  18.10   0.0  0.713  6.749   92.6  2.3236  24.0  666.0
500   0.22438   0.0   9.69   0.0  0.585  6.027   79.7  2.4982   6.0  391.0

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
50      16.8  395.56  13.45  19.7
100     20.9  394.76   9.42  27.5
150     14.7  372.80  14.10  21.5
200     17.0  384.30   4.45  32.9
250     19.1  396.28   5.90  24.4
300     14.8  390.86   6.07  24.8
350     19.7  396.90   5.98  22.9
400     20.2  396.90  26.77   5.6
450     20.2    0.32  17.44  13.4
500     19.2  396.90  14.33  16.8

34) Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

In [68]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})
print(df.head())

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98   Low
1  396.90   9.14   Low
2  392.83   4.03  High
3  394.63   2.94  High
4  396.90   5.33  High

35) Create a dataframe with rows as strides from the series "L".

In [69]:
L = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

36) Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

In [70]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

37) Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

In [73]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#  number of rows and columns
print(df.shape)

# datatypes
print(df.dtypes)

# how many columns under each dtype
print(df.get_dtype_counts())
print(df.dtypes.value_counts())

# summary statistics
df_stats = df.describe()

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

(93, 27)
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

38) Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

In [76]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')


# Solution
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'Price']
# df.get_value(row[0], 'Price')

61.9

39) Rename the column "Type" as "CarType" in the previous data and replace the ‘.’ in column names with ‘_’.

In [82]:
# print(df.columns)

# Step 1:

df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"


# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

40) Check if the data from #37 has any missing values.

In [83]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df.isnull().values.any()

True

41) Count the number of missing values in each column of the previous data. Which column has the maximum number of missing values?

42) Replace missing values in Min.Price and Max.Price columns with their respective mean.

43) In the previous data, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

44) Get the first column (a) in the data as a dataframe (rather than as a Series).

45) Actually 3 questions.

In the data, interchange columns 'a' and 'c'.

Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

46) Change the pandas display settings on printing the dataframe so it shows a maximum of 10 rows and 10 columns.

47) Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

48) Format the values in column 'random' of df as percentages.

In [ ]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df
#>      random
#> 0    .689723
#> 1    .957224
#> 2    .159157
#> 3    .21082

49) From the cars data, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

50) In the cars data, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

51) Find the row position of the 5th largest value of column 'a' in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

52) In ser, find the position of the 2nd largest value greater than the mean.

In [ ]:
ser = pd.Series(np.random.randint(1, 100, 15))

53) Get the last two rows of df whose row sum is greater than 100.

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

54) Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))

55) Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

56) Swap rows 1 and 2 in df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

57) Reverse all the rows of dataframe df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

58) Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

59) Obtain the column name with the highest number of row-wise maximum’s in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

60) Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34

61) Compute maximum possible absolute correlation value of each column against other columns in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

62) Compute the minimum-by-maximum for every row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

63) Create a new column 'penultimate' which has the second largest value of each row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

64) Normalize all columns of df by subtracting the column mean and divide by standard deviation.
Range all columns of df such that the minimum value in each column is 0 and max is 1.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

65) Compute the correlation of each row of df with its succeeding row.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

66) Replace both values in both diagonals of df with 0.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
#     0   1   2   3   4   5   6   7   8   9
# 0  11  46  26  44  11  62  18  70  68  26
# 1  87  71  52  50  81  43  83  39   3  59
# 2  47  76  93  77  73   2   2  16  14  26
# 3  64  18  74  22  16  37  60   8  66  39
# 4  10  18  39  98  25   8  32   6   3  29
# 5  29  91  27  86  23  84  28  31  97  10
# 6  37  71  70  65   4  72  82  89  12  97
# 7  65  22  97  75  17  10  43  78  12  77
# 8  47  57  96  55  17  83  61  85  26  86
# 9  76  80  28  45  77  12  67  80   7  63

67) Using a key in a grouped data frame. From df_grouped, get the group belonging to 'apple' as a dataframe.

In [ ]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

68) In df, find the second largest value of 'taste' for 'banana'

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

69) In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

70) Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

71) Get the positions where the value of two columns match.

In [ ]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

72) Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

    a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4

73) Get the frequency of unique values in the entire dataframe df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

74) Split the string column in df to form a dataframe with 3 columns as shown.

In [ ]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)

In [2]:
import numpy as np
print(np.arange(7))

[0 1 2 3 4 5 6]